# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------


# Dirs -------------------------------------------------------------------------------------------------------------
utils
codes/weights/*/*.pt
