# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------
*.pt

# Dirs -------------------------------------------------------------------------------------------------------------
utils
# codes/weights/*/*.pt
