# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------
*.jpg

# Dirs -------------------------------------------------------------------------------------------------------------
utils
codes/weights/*
